.venv/
venv/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/

.python-version

*.crc

.idea/
.vscode/

spark-warehouse/
metastore_db/

data/raw/
data/std/
data/log/

Thumbs.db
.DS_Store